
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.score{
    font-size: 45px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contain {
    text-align: center;
}
.sp1{
    font-size: 20px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sp1:hover {
    font-size: 25px;
}
.sp1 a{
   text-decoration: none;
   color:black;
}
.leaguename{
    width:70%;
    height:40px;
    background-color: skyblue;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 30px;
}
.leaguename h1{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
 .scorecard {
    margin-top: 40px;
    border: 2px solid black;
    width:600px;
    padding-left: 10px;
    position: relative;
}
 .scorecard a{
    text-decoration: none;
    color:black;
}
 .scorecard span{
    color:grey;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.livescore1 {
    display:flex;
}
.livescore1 .team{
    color:black;
}
.livescore1 span{
    margin: 5px;
}
.livescore2 {
    display:flex;
}
.livescore2 .team{
    color:black;
}
.livescore2 span{
    margin: 5px;
}
.icon {
    width:30px;
    height: 30px;
    margin-left: 570px;
    position: absolute;
    margin-top: -80px;
}


.leaguename2{
    width:70%;
    height:40px;
    background-color: skyblue;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 30px;
}
.leaguename2 h1{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.scorecard {
    margin-top: 40px;
    border: 2px solid black;
    width:600px;
    padding-left: 10px;
    position: relative;
}
.scorecard a{
    text-decoration: none;
    color:black;
}
.scorecard span{
    color:grey;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.livescore1 {
    display:flex;
}
.livescore1 .team{
    color:black;
}
.livescore1 span{
    margin: 5px;
}
.livescore2 {
    display:flex;
}
.livescore2 .team{
    color:black;
}
.livescore2 span{
    margin: 5px;
}
.icon {
    width:30px;
    height: 30px;
    margin-left: 570px;
    position: absolute;
    margin-top: -80px;
}


.leaguename3{
    width:70%;
    height:40px;
    background-color: skyblue;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 30px;
}
.leaguename3 h1{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.scorecard {
    margin-top: 40px;
    border: 2px solid black;
    width:600px;
    padding-left: 10px;
    position: relative;
    box-shadow: 0px 15px 20px 0px gray;
}
.scorecard:hover{
    transform: scale(1.1);
    margin-left: 30px;
}
.scorecard a{
    text-decoration: none;
    color:black;
}
.scorecard span{
    color:grey;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.livescore1 {
    display:flex;
}
.livescore1 .team{
    color:black;
}
.livescore1 span{
    margin: 5px;
}
.livescore2 {
    display:flex;
}
.livescore2 .team{
    color:black;
}
.livescore2 span{
    margin: 5px;
}
.icon {
    width:30px;
    height: 30px;
    margin-left: 550px;
    position: absolute;
    margin-top: -80px;
}


.feature {
    color:greenyellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 1000px;
    margin-top: -810px;
}
.videos{
    margin-top: 100px;
}
.if1{
    margin-left: 950px;
}
.if2{
    margin-left: 950px;
}
.if3{
    margin-left: 950px;
}
.if4{
    margin-left: 950px;
}
.if5{
    margin-left: 950px;
}